<div class="wrapper">
    <!--Sidebar-->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Filtros</h3>
        </div>
        
        <form [formGroup]="skillForm" novalidate id="formId">
        <div class="form-group">
        <div>
            <label id="nombre_filtro" class="black lselect2">Nivel 1:</label>
        </div>
        <div>
            <ejs-dropdownlist #PrimerNivel id="PrimerNivel" [dataSource]="DatosPrimerNivel" [fields]="PrimerosCampos" (change)="cambiosUno()" [placeholder]="marcaPrimerNivel" formControlName="skillname" name="skillname"></ejs-dropdownlist>
        </div>
        <div>
            <label id="nombre_filtro" class="black lselect2">Nivel 2:</label>
        </div>
        <div>
            <ejs-dropdownlist #SegundoNivel id="SegundoNivel" [dataSource]="DatosSegundoNivel" [fields]="SegundosCampos" (change)="cambiosDos()" [placeholder]="marcaSegundoNivel" [enabled]="false" formControlName="skillname2" name="skillname2"></ejs-dropdownlist>
        </div>
        <div>
            <label id="nombre_filtro" class="black lselect2">Nivel 3:</label>
        </div>
        <div>
            <ejs-dropdownlist #TercerNivel id="TercerNivel" [dataSource]="DatosTercerNivel" [fields]="TercerosCampos" [placeholder]="marcaTercerNivel" [enabled]="false" formControlName="skillname3" name="skillname3"></ejs-dropdownlist> 
        </div>
        </div>
        </form>
        <br>
        <button (click)="obtenerObjeto($event)">Click para obtener los objetos</button>
        <div>
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
                style="margin-left: 15px;">Consultar</a>
        </div>
        <!--
        <div id="wrapper" style='margin-top: 20px'>
            <div id='content' style="margin: 50px auto 0; width:250px;">
                <br>
                    <ejs-dropdownlist #country id="country" [dataSource]="DatosPrimerNivel" [fields]="countryFields" (change)="countryChange()" [placeholder]="countryWatermark"></ejs-dropdownlist>
                <div class="padding-top">
                    <ejs-dropdownlist #state id="state" [dataSource]="DatosSegundoNivel" [fields]="stateFields" (change)="stateChange()" [placeholder]="stateWatermark" [enabled]="false"></ejs-dropdownlist>
                </div>  
                <div class="padding-top">
                    <ejs-dropdownlist #city id="city" [dataSource]="DatosTercerNivel" [fields]="cityFields" [placeholder]="cityWatermark" [enabled]="false"></ejs-dropdownlist>
                </div>  
            </div>
        </div>-->
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info"
                    style="margin-left: -15px; margin-right: 20px;">
                    <i class="fas fa-align-left"></i>

                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <h2>Mapa de Inteligencia Productiva - Ministerio de Producción y Comercio</h2>

                </div>
            </div>
        </nav>
        <div >
            <app-mapa></app-mapa>
        </div>
    </div>
</div>


<!--

<div class="container-fluid">
 <div class="row">
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
            <br>
            <div>
                <label id="system-select-title-1" class="black lselect2">Nivel 1:</label>
            </div>
            <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Seleccionar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">Sector Agroindustrial</button>
                      <button class="dropdown-item" type="button">Sector Textil</button>
                      <button class="dropdown-item" type="button">Eventos de Intercambio Comercial</button>
                    </div>
                  </div>
            <div>
                <label id="system-select-title-1" class="black lselect2">Nivel 2:</label>
            </div>
            <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Seleccionar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">Concentración de Empresas Agroindustriales</button>
                      <button class="dropdown-item" type="button">Sector de Aduanas</button>
                      <button class="dropdown-item" type="button">Empresas Agrícolas</button>
                    </div>
                  </div>
            <div>
                <label id="system-select-title-1" class="black lselect2">Nivel 3:</label>
            </div>
            <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Seleccionar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">Empresas</button>
                      <button class="dropdown-item" type="button">Industrias</button>
                      <button class="dropdown-item" type="button">Microempresas</button>
                    </div>
                  </div>
                  <br>
                  <div>
                    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Consultar</a>
                 </div>
                 </div>
  </nav>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <app-mapa></app-mapa>
  </main>
 </div>   
</div>


<!--
<nav class="sidebar sidebar-offcanvas">
<h3>Mapa de Pruebas</h3>
<br />
<div class="col-md-8 order-md-1">
    <h4 class="mb-3">Filtros de Búsqueda</h4>
    <form class="needs-validation" novalidate>
        <div class="col-md-3 mb-3">
            <label for="zip">Ingrese Argumento</label>
            <input type="text" class="form-control" id="zip" placeholder="" required>
            <div class="invalid-feedback">
                Zip code required.
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
                <label for="country">Filtro 1</label>
                <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Seleccione...</option>
                    <option>Opción 1</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="country">Filtro 2</label>
                <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Seleccione...</option>
                    <option>Opción 1</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">Opción 1</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Opción 2</label>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Argumentos de Búsqueda</h4>

        <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="credit">Opción 1</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="debit">Opción 2</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="paypal">Opción 3</label>
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg" type="submit">Realizar Búsqueda</button>
    </form>
</div>
</nav>
<app-filtros (enviar)="verHoteles($event)"></app-filtros>
-->