<h3>Mapa de Pruebas</h3>
<br />
<div class="col-md-8 order-md-1">
    <h4 class="mb-3">Filtros de Búsqueda</h4>
    <form class="needs-validation" novalidate>
        <div class="col-md-3 mb-3">
            <label for="zip">Ingrese Argumento</label>
            <input type="text" class="form-control" id="zip" placeholder="" required>
            <div class="invalid-feedback">
                Zip code required.
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mb-3">
                <label for="country">Filtro 1</label>
                <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Seleccione...</option>
                    <option>Opción 1</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="country">Filtro 2</label>
                <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Seleccione...</option>
                    <option>Opción 1</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">Opción 1</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Opción 2</label>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Argumentos de Búsqueda</h4>

        <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="credit">Opción 1</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="debit">Opción 2</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="paypal">Opción 3</label>
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg" type="submit">Realizar Búsqueda</button>
    </form>
</div>