<nav class="navbar navbar-expand-sm">
    <a id="yavLogo" class="navbar-brand" [routerLink]="['mapa']"> <img src="../../assets/images/lago-mipro.png" alt="" height="30"> Inteligencia
        Productiva</a>
   <!-- <a id="yavLogo" class="navbar-brand" [routerLink]="['mapaMercado']"> Mapa Mercado</a>
    <a id="yavLogo" class="navbar-brand" [routerLink]="['mapaHotel']"> Mapa Hotel</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>