#map {
    width: 90%;
    height: 524px;
}
.calculation-box {
    height: 98%;
    width: 270px;
    position: absolute;
    top: 5px;
    margin-bottom: 5px;
    right: 5px;
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: left;
}

.calculation-box p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 25px;
}

#filtro-map {
    height: 200px;
    width: 170px;
    position: absolute;
    top: 80px;
    left: 6px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    text-align: left;
    overflow: auto;
}

#filtro-map p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 11px;
}

#filtro-map-boton {
    height: 70px;
    width: 170px;
    position: absolute;
    top: 10px;
    left: 6px;
    background-color: #ffffff;
    padding: 15px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #193b68;
}

::-webkit-scrollbar-thumb:hover {
    background: #3893e6;
}