<div id="map">
    <div id="filtro-map">
        <label><input type="checkbox" id="filtro" checked> Demanda MENSUAL</label>
        <p>CATEGORÍA HOTEL</p>
        <p><img src="../../assets/hotel_icon/residencia.png" width="23" height="23">RESIDENCIA</p>
        <p><img src="../../assets/hotel_icon/1 Estrella.png" width="23" height="23"> 1 ESTRELLA</p>
        <p><img src="../../assets/hotel_icon/2 Estrellas.png" width="23" height="23"> 2 ESTRELLAS</p>
        <p><img src="../../assets/hotel_icon/3 Estrellas.png" width="23" height="23"> 3 ESTRELLAS</p>
        <p><img src="../../assets/hotel_icon/4 Estrellas.png" width="23" height="23"> 4 ESTRELLAS</p>
        <p><img src="../../assets/hotel_icon/5 Estrellas.png" width="23" height="23"> 5 ESTRELLAS</p>
    </div>
</div>
<div class="calculation-box">
    <p>Mercados en Mapa:</p>
    <!--<li *ngFor="let mercado of mercados">{{mercado.id_mercado}}) {{mercado.nombre}}</li>-->
    <p>{{ mercados.length }}</p>
    <div id="calculated-area"></div>
</div>