#map {
    width: 100%;
    height: 524px;
}

.calculation-box {
    height: 98%;
    width: 150px;
    position: absolute;
    top: 5px;
    margin-bottom: 5px;
    right: 5px;
    background-color: #193b68;
    color: white;
    padding: 15px;
    text-align: left;
}

.calculation-box p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 13px;
}

#filtro-map {
    height: 200px;
    width: 170px;
    position: absolute;
    top: 75px;
    left: 6px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    text-align: left;
    overflow: auto;
}

#filtro-map p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 11px;
}

#filtro-map-boton {
    height: 64px;
    width: 170px;
    position: absolute;
    top: 10px;
    left: 6px;
    background-color: #193b68;
    padding: 15px;
    text-align: left;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #193b68;
}

::-webkit-scrollbar-thumb:hover {
    background: #3893e6;
}