<footer class="footer is-primary" style="color: white;">
    <div class="container">
        <div class="columns">
            <div class="column">
                <br />
                <h2>Social</h2>
            </div>
            <div class="column has-text-right">
                <div class="row">
                    <div class="col">
                        <hr />
                        <a class="icon" href="https://www.facebook.com/ProduccionEcu" target="_blank"><i class="fab fa-facebook-f fa-2x"
                                style="color: white;"></i></a>
                        &nbsp;
                        <a class="icon" href="https://twitter.com/Produccion_Ecu" target="_blank"><i class="fab fa-twitter fa-2x"
                                style="color: white;"></i></a>
                        &nbsp;
                        <a class="icon" href="https://www.youtube.com/user/IndustriasEcuador" target="_blank"><i
                                class="fab fa-youtube fa-2x" style="color: white;"></i></a>
                        &nbsp;
                        <a class="icon" href="https://www.flickr.com/photos/IndustriasEcuador" target="_blank"><i
                                class="fab fa-flickr fa-2x" style="color: white;"></i></a>
                    </div>
                    <div class="col">
                        <div style="text-align: right"><img style="height: 100px; margin-bottom: 20px;"
                                src="../../assets/images/footer_logo.png" alt="" /></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>